@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'ONE-Mobile-POP', sans-serif;
    background-image: url('/static/image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    overflow: hidden;
    overflow-y: scroll;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.quick-menu {
    float: left;
    width: 20%;
    margin-right: 20px;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.content {
    overflow: hidden;
    color: #fff;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
}
th {
    background-color: #000;
}
th[colspan="2"] {
    background-color: #000;
}